*.a filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
/Dockerfile filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.babelrc filter=lfs diff=lfs merge=lfs -text
*.editorconfig filter=lfs diff=lfs merge=lfs -text
*.env filter=lfs diff=lfs merge=lfs -text
*.eslintrc filter=lfs diff=lfs merge=lfs -text
*.config,js filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.vue filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.eot filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.woff filter=lfs diff=lfs merge=lfs -text
*.woff2 filter=lfs diff=lfs merge=lfs -text
*.scss filter=lfs diff=lfs merge=lfs -text
*.ts filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
*.less filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.php filter=lfs diff=lfs merge=lfs -text
*.fla filter=lfs diff=lfs merge=lfs -text
*.swf filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
*.go filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.htaccess filter=lfs diff=lfs merge=lfs -text
/app/old-dashboard/js/flot-chart/Makefile filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
/app/old-dashboard/js/fuelux/COPYING filter=lfs diff=lfs merge=lfs -text
/app/old-dashboard/js/select2/LICENSE filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.template filter=lfs diff=lfs merge=lfs -text
/bin/www filter=lfs diff=lfs merge=lfs -text
*.realm filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
*.gan filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.mdj filter=lfs diff=lfs merge=lfs -text
/mongodb-realm/mqtt-data-dashboard-djtyx/recovered-realms/recovered_realm-20220316-205841-XXa11260 filter=lfs diff=lfs merge=lfs -text
/mongodb-realm/mqtt-data-dashboard-djtyx/recovered-realms/recovered_realm-20220316-205921-XXa03184 filter=lfs diff=lfs merge=lfs -text
*.code-workspace filter=lfs diff=lfs merge=lfs -text
/node_modules/@alloc/quick-lru/license filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/geojson/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/denque/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/mariadb/LICENSE filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.iml filter=lfs diff=lfs merge=lfs -text
/node_modules/mariadb/node_modules/iconv-lite/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/moment-timezone/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/moment/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/please-upgrade-node/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/semver-compare/LICENSE filter=lfs diff=lfs merge=lfs -text
*.markdown filter=lfs diff=lfs merge=lfs -text
*.pug filter=lfs diff=lfs merge=lfs -text
